[[> partial:pageHeader ]]
<div class="rs-component home-title">
    <bs-row>
        <bs-col md="10" md-offset="1">
            <h1>ResearchSpace Kitchensink</h1>
            <p class="rs-component tagline">
                Welcome to the ResearchSpace Kitchensink.
            </p>
            <ul>
                <li><semantic-link uri="page:sigmaGraph">Sigma Graph</semantic-link></li>
                <li><semantic-link uri="page:internationalisation">Internationalisation</semantic-link></li>
                <li><semantic-link uri="page:IIIFviewer">IIIF Viewer</semantic-link></li>
            </ul>
        </bs-col>
    </bs-row>
</div>