[[> partial:pageHeader ]]
<div class="rs-component home-title">
    <bs-row>
        <bs-col md="10" md-offset="1">
            <h1>ResearchSpace Kitchensink</h1>
            <p class="rs-component tagline">
                Welcome to the ResearchSpace Kitchensink.
            </p>
            <h2>Test pages</h2>
            <ul>
                <li>Sigma Graph
                    <ul>
                        <li><semantic-link uri="page:sigmaGraph">Sample page with JILA data</semantic-link></li>
                        <li><semantic-link uri="Help:SigmaGraph">Help page</semantic-link></li>
                    </ul>
                </li>
                <li><semantic-link uri="page:internationalisation">Internationalisation</semantic-link></li>
                <li><semantic-link uri="page:IIIFviewer">IIIF Viewer</semantic-link></li>
            </ul>
        </bs-col>
    </bs-row>
</div>