// out: ../app/assets/styles.css

@col-white: #fff;
@col-bg-med: #f5f5f5;


.ks-component {

  &.home-title {
    font-size: 1.8rem;
    padding-bottom: 2rem;
    h1 {
      font-size: 3.2rem;
      padding-top: 1rem;
    }
    a {
      font-weight: bold;
    }
    .tagline {
      font-size: 2.3rem;
      margin-bottom: 3rem;
    }
  }
}

// Overrides

ol.page-breadcrumb {
    position: static;
}