.ks-component.home-title {
  font-size: 1.8rem;
  padding-bottom: 2rem;
}
.ks-component.home-title h1 {
  font-size: 3.2rem;
  padding-top: 1rem;
}
.ks-component.home-title a {
  font-weight: bold;
}
.ks-component.home-title .tagline {
  font-size: 2.3rem;
  margin-bottom: 3rem;
}
ol.page-breadcrumb {
  position: static;
}
